﻿@model Commande

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Commande</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Boison.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Boison.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mug)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommandeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
