﻿@model IEnumerable<Commande>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Boison.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mug)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Boison.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mug)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommandeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommandeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommandeId })
        </td>
    </tr>
}

</table>
