﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Machine à café</h1>
    <p class="lead"></p>
    <p><a href="/Commandes/Create">Passez une nouvelle commande</a>
    <p><a href="/Boisons/Create">Ajoutez un nouveau type de Boison</a>

</div>

<div class="row">

</div>